<h1>Available Courses</h1>

<table>
  <thead>
    <th>Course Title</th>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
     <tr><a href=""<%= course.title %>></a></tr>
    <% end %>
  </tbody>
</table>
